*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom right, #08f995, #126ce8);
    color: whitesmoke;
    font-family: sans-serif;
}

.wrap-loader {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.loader {
    height: 20vh;
    width: 20vh;
    border-radius: 50%;
    border: 16px solid whitesmoke;
    border-top: 16px solid darkred;
    box-shadow: 0 -5px 15px rgba(139,0,0,0.6),
                inset 0 5px 15px rgba(139,0,0,0.5);
    animation: loader-animation 1.5s linear infinite;
}

@keyframes loader-animation {
    0% {
        transform: rotate(0deg);
        border-top: 16px solid darkred;
        box-shadow: 0 -5px 15px rgba(139,0,0,0.6),
                    inset 0 5px 15px rgba(139,0,0,0.5);
    }
    50% {
        transform: rotate(180deg);
        border-top: 16px solid #ff8b00;
        box-shadow: 0 -5px 15px rgba(255,139,0,0.6),
                    inset 0 5px 15px rgba(255,139,0,0.5);
    }
    100% {
        transform: rotate(360deg);
        border-top: 16px solid darkred;
        box-shadow: 0 -5px 15px rgba(139,0,0,0.6),
                    inset 0 5px 15px rgba(139,0,0,0.5);
    }
}

.content {
    height: 100vh;
    flex-direction: column;
    align-items: center;
    display: none;
    animation: content-animation 2.5s ease;
}

@keyframes content-animation {
    0% {
        /*transform: translateY(50px);*/
        opacity: 0;
    }
    100% {
        /*transform: translateY(0px);*/
        opacity: 1;
    }
}

.location {
    display: flex;
    margin: 5vh 5vw;
    flex-direction: column;
}

.location-zone {
    text-shadow: 2px 10px rgba(0, 0, 0, 0.6);
    font-size: 10vh;
    margin-bottom: 5vh;
    letter-spacing: 2vh;
}

.location-date {
    font-size: 5vh;
    transition: text-shadow 0.5s ease;
}

.location-date:hover {
    text-shadow: 2px 5px rgba(0, 0, 0, 0.6);
}

.temperature {
    display: flex;
    margin: 5vh 5vh;
}

.vertical-line {
    border: 1px solid whitesmoke;
    height: 30vh;
    order: 2;
    position: relative;
}

.temperature-main-info {
    order: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.temperature-degree {
    position: relative;
    align-self: center;
    margin-bottom: 2.5vh;
    font-size: 7.5vh;
    right: 20%;
    transition: text-shadow 0.5s ease;
}

.temperature-degree:hover {
    text-shadow: 2px 10px rgba(0, 0, 0, 0.6);
}

.temperature-degree-true-state {
    cursor: pointer;
}

.temperature-degree-false-state {
    cursor: text;
}

.temperature-icon {
    order: 1;
    position: relative;
    align-self: center;
    margin-top: 0.5vh;
    right: 20%;
    width: 20vh;
    height: 20vh;
    transition: 0.5s;
}

.temperature-info {
    order: 3;
    display: grid;
    height: 30vh;
    width: 45vh;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
            "max rain sunrise"
            "min wind sunset";
    align-items: center;
    column-gap: 2vh;
    position: relative;
    font-size: 2.5vh;
    text-align: center;
    left: 10%;
    padding: 1.5vh;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    transition: 0.5s;
}

.temperature-info:hover {
    box-shadow: 2px 15px 15px -5px rgba(0,0,0,0.6);
    background: linear-gradient(to top left, #08f995, #126ce8);
    height: 40vh;
    width: 55vh;
}

.temperature-info-max {
    grid-area: max;
}

.temperature-info-max-true-state {
    cursor: pointer;
}

.temperature-info-max-false-state {
    cursor: text;
}

.temperature-info-low {
    grid-area: min;
}

.temperature-info-low-true-state {
    cursor: pointer;
}

.temperature-info-low-false-state {
    cursor: text;
}

.temperature-info-rain {
    grid-area: rain;
}

.temperature-info-wind {
    grid-area: wind;
}

.temperature-info-sunrise {
    grid-area: sunrise;
}

.temperature-info-sunset {
    grid-area: sunset;
}

.temperature-info-placeholder {
    font-size: 2vh;
}

.search {
    display: flex;
    height: 7.5vh;
    align-items: center;
    margin-top: 5vh;
    width: 120vh;
}

#search-city {
    flex: 1;
    margin-left: 2vh;
    margin-right: 2vh;
    padding: 2vh 2vh;
    border-radius: 20px;
    outline: none;
    background-color: rgba(255,255,255,0.3);
    color: whitesmoke;
    font-size: 2.5vh;
    transition: 0.5s linear;
}

#search-city::placeholder {
    color: whitesmoke;
}

#search-city:focus {
    background-color: rgba(255, 255, 255, 0.6);
    color: #313131;
    box-shadow: 0 10px 10px -5px rgba(0,0,0,0.6);
}

#search-city:focus::placeholder {
    color: #313131;
}

.search-city-true-state {
    border: none;
    border-bottom: 3px solid #7D3C98;
}

.search-city-false-state {
    border: none;
    border-bottom: 3px solid darkred;
    box-shadow: 0 0 2px 0 #FFFFFF,
                0 0 5px 0 #ff9999,
                0 0 10px 0 #e60000;
}

.search-label {
    font-size: 2.5vh;
    cursor: pointer;
}

.search-confirm {
    text-transform: uppercase;
    padding: 2.5vh;
    background-color: rgba(255, 255, 255, 0.3);
    outline: none;
    border-radius: 50%;
    color: whitesmoke;
    transition: 0.5s ease;
}

.search-confirm:hover {
    box-shadow: 2px 5px 5px rgba(0,0,0,0.6);
}

.search-confirm:active {
    box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 255, 255, 0.6);
    color: #313131;
}

.search-confirm-true-state {
    border: 3px solid #7D3C98;
}

.search-confirm-false-state {
    border: 3px solid darkred;
    box-shadow: 0 0 2px 0 #FFFFFF,
                0 0 5px 0 #ff9999,
                0 0 10px 0 #e60000;
}

.fa-refresh {
    size: 2.5vh;
}

.fa-refresh-true-state {
    cursor: pointer;
}

.fa-refresh-false-state {
    cursor: text;
}

.hamburger-btn {
    height: 6vh;
    width: 8vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
}

.hamburger-btn-open {
    top: 5%;
    left: 15%;
}

.hamburger-btn-closed {
    top: 7.5%;
    left: 7.5%;
}

.hamburger-btn:hover > .hamburger::before, .hamburger-btn:hover > .hamburger::after {
    box-shadow: 2px 5px 5px rgba(0,0,0,0.6);
}

.hamburger-btn-closed:hover > .hamburger {
    box-shadow: 2px 5px 5px rgba(0,0,0,0.6);
}

.hamburger-btn-open > .hamburger {
    background-color: transparent;
}

.hamburger-btn-open > .hamburger::before {
    transform: rotate(45deg) translate(0, 0);
}

.hamburger-btn-open > .hamburger::after {
    transform: rotate(-45deg) translate(0, 0);
}

.hamburger {
    height: 1vh;
    width: 7vh;
    background-color: whitesmoke;
    border-radius: 20px;
    transition: 0.5s ease;
}

.hamburger::before, .hamburger::after {
    content: "";
    position: absolute;
    height: 1vh;
    width: 7vh;
    background-color: whitesmoke;
    border-radius: 20px;
    transition: 0.5s ease;
}

.hamburger::before {
    transform: translateY(-2vh);
}

.hamburger::after {
    transform: translateY(2vh);
}

.side-menu {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #313131;
    transition: 0.5s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.side-menu-open {
    width: 20%;
    box-shadow: 10px 10px 25px -5px rgba(0,0,0,0.8);
}

.side-menu-closed {
    width: 0;
}

.side-menu-item {
    font-size: 3vh;
    text-transform: uppercase;
    margin-bottom: 2vh;
    cursor: pointer;
    overflow: no-display;
    transition: 0.25s ease;
    white-space: nowrap;
}

.side-menu-item:hover {
    color: lightblue;
}

.side-menu-closing-item {
    justify-self: flex-end;
}

.side-content {
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #313131;
    overflow: hidden;
    transition: 0.5s ease;
}

.side-content-close {
    width: 0;
}

.side-content-open {
    box-shadow: -10px -10px 25px -5px rgba(0,0,0,0.8);
    width: 20%;
}

.side-content-info {
    height: 80vh;
}

.fa-angle-double-up {
    font-size: 7.5vh;
}

.fa-angle-double-down {
    font-size: 7.5vh;
}

.active-double {
    cursor: pointer;
}

.active-double:hover {
    color: darkgreen;
    text-shadow: 0 7px rgba(0,0,0,0.6);
}

.disable-double {
    cursor: text;
    color: darkred;
}

.side-content-info-hourly-forecast, .side-content-info-daily-forecast {
    height: 80vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.side-content-info-hourly-forecast-open, .side-content-info-daily-forecast-open {
    display: flex;
}

.side-content-info-hourly-forecast-closed, .side-content-info-daily-forecast-closed {
    display: none;
}

.hourly-forecast-element, .daily-forecast-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid whitesmoke;
    border-radius: 5%;
    font-size: 2vh;
    padding-top: 10px;
}

.hourly-forecast-element {
    width: 25vh;
    height: 25vh;
}

.hourly-forecast-time, .hourly-forecast-main-temp, .daily-forecast-date {
    margin-bottom: 0.5vh;
}

.hourly-forecast-humidity, .hourly-forecast-wind-speed, .daily-forecast-sunrise,
.daily-forecast-sunset, .daily-forecast-day-temp, .daily-forecast-night-temp {
    display: flex;
    margin-bottom: 0.5vh;
    margin-top: 0.5vh;
}

.hourly-forecast-humidity, .hourly-forecast-wind-speed {
    width: 23vh;
}

.daily-forecast-sunrise, .daily-forecast-sunset, .daily-forecast-day-temp, .daily-forecast-night-temp {
    width: 28vh;
}

.side-temperature-icon {
    height: 12vh;
    width: 12vh;
}

.side-temperature-icon:hover {
    text-shadow: 2px 5px rgba(0, 0, 0, 0.6);
}

.hourly-forecast-placeholder, .daily-forecast-placeholder {
    margin-right: auto;
}

.hourly-forecast-value, .daily-forecast-value {
    margin-left: auto;
}

.daily-forecast-element {
    width: 30vh;
    height: 35vh;
}
