*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, #1A2980, #26D0CE);
    color: whitesmoke;
    font-family: sans-serif;
}

.overlay {
    position: fixed;
    height: 100vh;
    width: 100%;
    pointer-events: all;
    background-color: rgba(15, 15, 15, 0.5);
    backdrop-filter: blur(10px);
    z-index: 2;
    animation: overlay-fade-in 1s;
}

.overlay-disabled {
    display: none;
}

.overlay-enabled {
    display: block;
}

@keyframes overlay-fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80vh;
    width: 60vh;
    z-index: 3;
    flex-direction: column;
    animation: modal-fade-in 0.25s;
}

@keyframes modal-fade-in {
    from {
        transform: translate(-50%, -50%) scale(0, 0);
        opacity: 0;
    }
    to {
        transform: translate(-50%, -50%) scale(1, 1);
        opacity: 1;
    }
}

.modal-open {
    display: flex;
}

.modal-closed {
    display: none;
}

.modal-header {
    height: 10vh;
    width: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff471a;
}

.modal-header h2 {
    color: whitesmoke;
    font-size: 5vh;
}

.modal-content {
    height: 60vh;
    width: 60vh;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(15px);
    box-shadow:
            0 3px 2px rgba(0, 0, 0, 0.034),
            0 7px 5px rgba(0, 0, 0, 0.048),
            0 13px 10px rgba(0, 0, 0, 0.06),
            0 22px 18px rgba(0, 0, 0, 0.072),
            0 42px 33px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12);
    color: whitesmoke;
    display: flex;
    flex-direction: column;
}

.modal-date-end, .modal-date-start {
    height: 5vh;
    width: 60vh;
    display: flex;
    align-items: center;
    white-space: pre;
}

.modal-date-start {
    margin-top: 1vh;
}

.modal-date-start-placeholder, .modal-date-end-placeholder, .modal-date-start-value, .modal-date-end-value,
.modal-source-placeholder, .modal-source-value {
    font-size: 2.5vh;
    margin-left: 2vh;
}

.modal-description {
    font-size: 3vh;
    text-align: justify;
    text-justify: auto;
    word-wrap: break-word;
    margin-left: 2vh;
    margin-right: 2vh;
}

.modal-description-wrapper {
    height: 50vh;
    width: 60vh;
    overflow: hidden;
}

.modal-footer {
    height: 10vh;
    width: 60vh;
    display: flex;
    align-items: center;
    background-color: #ff471a;
    z-index: 1;
    font-style: italic;
}

#modal-content-separator {
    color: #ff471a;
    margin: 2vh;
}

.modal-header, .modal-footer {
    border: 1px solid whitesmoke;
}

.wrap-loader {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    background-color: transparent;
}

.loader {
    height: 20vh;
    width: 20vh;
    border-radius: 50%;
    border: 16px solid whitesmoke;
    border-top: 16px solid darkred;
    box-shadow: 0 -5px 15px rgba(139,0,0,0.6),
                inset 0 5px 15px rgba(139,0,0,0.5);
    animation: loader-animation 1.5s linear infinite;
}

@keyframes loader-animation {
    0% {
        transform: rotate(0deg);
        border-top: 16px solid darkred;
        box-shadow: 0 -5px 15px rgba(139,0,0,0.6),
                    inset 0 5px 15px rgba(139,0,0,0.5);
    }
    50% {
        transform: rotate(180deg);
        border-top: 16px solid #ff8b00;
        box-shadow: 0 -5px 15px rgba(255,139,0,0.6),
                    inset 0 5px 15px rgba(255,139,0,0.5);
    }
    100% {
        transform: rotate(360deg);
        border-top: 16px solid darkred;
        box-shadow: 0 -5px 15px rgba(139,0,0,0.6),
                    inset 0 5px 15px rgba(139,0,0,0.5);
    }
}

.content {
    height: 100vh;
    flex-direction: column;
    align-items: center;
    display: none;
    animation: content-animation 2.5s ease;
}

@keyframes content-animation {
    0% {
        /*transform: translateY(50px);*/
        opacity: 0;
    }
    100% {
        /*transform: translateY(0px);*/
        opacity: 1;
    }
}

.location {
    display: flex;
    margin-top: 5.5vh;
    margin-left: 5vw;
    margin-right: 5vw;
    flex-direction: column;
}

.location-zone {
    text-shadow: 2px 10px 10px rgba(0, 0, 0, 0.4);
    font-size: 10vh;
    margin-bottom: 5vh;
    letter-spacing: 2vh;
}

.location-date {
    font-size: 5vh;
    transition: text-shadow 0.5s ease;
    align-self: center;
}

/*.location-date:hover {
    text-shadow: 2px 5px rgba(0, 0, 0, 0.6);
}*/

.temperature {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2.5vh 2.5vh;
}

/*.vertical-line {
    border: 1px solid whitesmoke;
    height: 30vh;
    order: 2;
    position: relative;
}*/

.temperature-main-info {
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.temperature-degree {
    font-size: 10vh;
    margin-left: 5vh;
    transition: text-shadow 0.5s ease;
}

/*.temperature-degree:hover {
    text-shadow: 2px 10px rgba(0, 0, 0, 0.6);
}*/

.temperature-degree-true-state {
    cursor: pointer;
}

.temperature-degree-false-state {
    cursor: text;
}

.temperature-icon {
    order: 1;
    width: 22.5vh;
    height: 22.5vh;
    transition: 0.5s;
}

.temperature-info {
    order: 3;
    display: grid;
    height: 30vh;
    width: 45vh;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
            "max rain sunrise"
            "min wind sunset";
    align-items: center;
    column-gap: 2vh;
    font-size: 2.5vh;
    text-align: center;
    padding: 1.5vh;
    border: 3px solid whitesmoke;
    border-radius: 15px;
    transition: 0.25s;
}

.temperature-info:hover {
    box-shadow: 2px 15px 15px -5px rgba(0,0,0,0.4),
                -2px -7.5px 15px -5px rgba(0,0,0,0.4);
}

.temperature-info-max {
    grid-area: max;
}

.temperature-info-max-true-state {
    cursor: pointer;
}

.temperature-info-max-false-state {
    cursor: text;
}

.temperature-info-low {
    grid-area: min;
}

.temperature-info-low-true-state {
    cursor: pointer;
}

.temperature-info-low-false-state {
    cursor: text;
}

.temperature-info-rain {
    grid-area: rain;
}

.temperature-info-wind {
    grid-area: wind;
}

.temperature-info-sunrise {
    grid-area: sunrise;
}

.temperature-info-sunset {
    grid-area: sunset;
}

.temperature-info-placeholder {
    font-size: 2vh;
}

.alert {
    position: absolute;
    top: 7%;
    left: 15%;
    height: 8.5vh;
    width: 8.5vh;
    border-radius: 50%;
    border: 3px solid whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.5vh;
    transition: 0.5s ease;
    background-color: #ff471a;
}

@keyframes fade-out-alert {
    0% {
        transform: translateX(0px);
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
    100% {
        transform: translateX(-100px);
        opacity: 0;
    }
}

@keyframes fade-in-alert {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.alert:hover {
    box-shadow: 2px 5px 5px rgba(0,0,0,0.6);
    background-color: whitesmoke;
    border: 3px solid #ff471a;
}

.alert:hover > .fa-bell {
    color: #ff471a;
}

.alert:hover > .alert-text {
    color: #ff471a;
}

.fa-bell {
    font-size: 3vh;
    color: whitesmoke;
    transition: 0.5s ease;
}

.alert-text {
    color: whitesmoke;
    transition: 0.5s ease;
}

.search {
    display: flex;
    margin-top: 2.5vh;
    height: 7.5vh;
    align-items: center;
    width: 120vh;
}

#search-city {
    flex: 1;
    margin-left: 2vh;
    margin-right: 2vh;
    padding: 2vh 2vh;
    border-radius: 20px;
    outline: none;
    font-size: 2.5vh;
    transition: 0.5s linear;
    border-top: none;
    border-left: none;
    border-right: none;
}

.search-city-true-state {
    border-bottom: 3px solid #1A2480;
    background-color: rgba(255, 255, 255, 0.3);
}

.search-city-true-state::placeholder {
    color: #1A2480;
    transition: 0.5s;
}

.search-city-true-state:focus {
    background-color: rgba(26, 36, 128, 0.7);
    box-shadow: 0 10px 10px -5px rgba(0,0,0,0.5);
    border-bottom: 3px solid #26D0CE;
    color: #26D0CE;
}

.search-city-true-state:focus::placeholder {
    color: #26D0CE;
}

.search-city-false-state {
    background-color: rgba(255, 255, 255, 0.3);
    border-bottom: 3px solid whitesmoke;
    box-shadow: 0 0 3px 0 whitesmoke,
                0 0 5px 0 #ff9999,
                0 0 10px 0 #e60000;
}

.search-city-false-state::placeholder {
    color: whitesmoke;
    transition: 0.5s;
}

.search-city-false-state:focus {
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 10px 10px -5px rgba(0,0,0,0.5);
    border-bottom: 3px solid darkred;
    color: darkred;
}

.search-city-false-state:focus::placeholder {
    color: darkred;
}

.search-label {
    font-size: 2.5vh;
    cursor: pointer;
}

.search-label-true-state {
    color: #1A2480;
}

.search-label-false-state {
    color: whitesmoke;
}

.search-confirm {
    text-transform: uppercase;
    padding: 2.5vh;
    background-color: rgba(255, 255, 255, 0.3);
    outline: none;
    border-radius: 50%;
    transition: 0.25s ease;
}

.search-confirm:hover {
    box-shadow: 2px 5px 5px rgba(0,0,0,0.5);
}

.search-confirm:active {
    box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.3);
}

.search-confirm-true-state {
    color:  #1A2480;
    border: 3px solid #1A2480;
}

.search-confirm-true-state:active {
    background-color: rgba(255, 255, 255, 0.7);
    /* color: #26D0CE; */
    /* border: 3px solid #26D0CE; */
}

.search-confirm-false-state {
    border: 3px solid darkred;
    color: darkred;
    box-shadow: 0 0 2px 0 #FFFFFF,
                0 0 5px 0 #ff9999,
                0 0 10px 0 #e60000;
}

.search-confirm-false-state:active {
    background-color: rgba(169, 0, 0, 0.7);
    color: whitesmoke;
    border: 3px solid whitesmoke;
}

.fa-refresh {
    size: 2.5vh;
    transition: 0.5s;
}

.fa-refresh:hover {
    text-shadow: 2px 5px 5px rgba(0, 0, 0, 0.5);
}

.fa-refresh-true-state {
    cursor: pointer;
}

.fa-refresh-false-state {
    cursor: text;
}

.hamburger-btn {
    height: 6vh;
    width: 8vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
}

.hamburger-btn-open {
    top: 5%;
    left: 15%;
}

.hamburger-btn-closed {
    top: 7.5%;
    left: 7.5%;
}

.hamburger-btn:hover > .hamburger::before, .hamburger-btn:hover > .hamburger::after {
    box-shadow: 2px 5px 5px rgba(0,0,0,0.6);
}

.hamburger-btn-closed:hover > .hamburger {
    box-shadow: 2px 5px 5px rgba(0,0,0,0.6);
}

.hamburger-btn-open > .hamburger {
    background-color: transparent;
}

.hamburger-btn-open > .hamburger::before {
    transform: rotate(45deg) translate(0, 0);
}

.hamburger-btn-open > .hamburger::after {
    transform: rotate(-45deg) translate(0, 0);
}

.hamburger {
    height: 1vh;
    width: 7vh;
    background-color: whitesmoke;
    border-radius: 20px;
    transition: 0.5s ease;
}

.hamburger::before, .hamburger::after {
    content: "";
    position: absolute;
    height: 1vh;
    width: 7vh;
    background-color: whitesmoke;
    border-radius: 20px;
    transition: 0.5s ease;
}

.hamburger::before {
    transform: translateY(-2vh);
}

.hamburger::after {
    transform: translateY(2vh);
}

.side-menu {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #313131;
    transition: 0.5s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.side-menu-open {
    width: 20%;
    box-shadow: 10px 10px 25px -5px rgba(0,0,0,0.8);
}

.side-menu-closed {
    width: 0;
}

.side-menu-item {
    font-size: 3vh;
    text-transform: uppercase;
    margin-bottom: 3vh;
    cursor: pointer;
    overflow: no-display;
    transition: 0.25s ease;
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
}

.side-menu-item:hover {
    color: dodgerblue;
}

#side-menu-closing-item {
    justify-self: flex-end;
}

#side-menu-closing-item:hover {
    color: lightcoral;
}

.side-content {
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #313131;
    overflow: hidden;
    transition: 0.5s ease;
}

.side-content-close {
    width: 0;
}

.side-content-open {
    box-shadow: -10px -10px 25px -5px rgba(0,0,0,0.8);
    width: 20%;
}

.side-content-info {
    height: 80vh;
}

.fa-angle-double-up {
    font-size: 7.5vh;
}

.fa-angle-double-down {
    font-size: 7.5vh;
}

.active-double {
    cursor: pointer;
}

.active-double:hover {
    color: darkgreen;
    text-shadow: 0 7px rgba(0,0,0,0.6);
}

.disable-double {
    cursor: text;
    color: darkred;
}

.side-content-info-hourly-forecast, .side-content-info-daily-forecast, .side-content-info-pollution-forecast {
    height: 80vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.side-content-info-hourly-forecast-open, .side-content-info-daily-forecast-open, .side-content-info-pollution-forecast-open {
    display: flex;
    animation: side-content-opened 1.2s ease;
}

@keyframes side-content-opened {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.side-content-info-hourly-forecast-closed, .side-content-info-daily-forecast-closed, .side-content-info-pollution-forecast-closed {
    display: none;
}

.hourly-forecast-element, .daily-forecast-element, .pollution-forecast-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid whitesmoke;
    border-radius: 5%;
    font-size: 2vh;
    padding-top: 10px;
}

.hourly-forecast-element {
    width: 25vh;
    height: 25vh;
}

.hourly-forecast-time, .hourly-forecast-main-temp, .daily-forecast-date, .pollution-forecast-time {
    margin-bottom: 0.5vh;
}

.hourly-forecast-humidity, .hourly-forecast-wind-speed, .daily-forecast-sunrise,
.daily-forecast-sunset, .daily-forecast-day-temp, .daily-forecast-night-temp,
.pollution-forecast-air-quality, .pollution-forecast-CO, .pollution-forecast-NO-2,
.pollution-forecast-O-3, .pollution-forecast-SO-2, .pollution-forecast-NH-3,
.pollution-forecast-PM-2-5, .pollution-forecast-PM-10, .pollution-forecast-NO{
    display: flex;
    margin-bottom: 0.5vh;
    margin-top: 0.5vh;
}

.hourly-forecast-humidity, .hourly-forecast-wind-speed {
    width: 23vh;
}

.daily-forecast-sunrise, .daily-forecast-sunset, .daily-forecast-day-temp, .daily-forecast-night-temp {
    width: 24vh;
}

.pollution-forecast-air-quality, .pollution-forecast-CO, .pollution-forecast-NO, .pollution-forecast-NO-2,
.pollution-forecast-O-3, .pollution-forecast-SO-2, .pollution-forecast-NH-3, .pollution-forecast-PM-2-5,
.pollution-forecast-PM-10 {
    width: 24vh;
}

.side-temperature-icon {
    height: 12vh;
    width: 12vh;
}

.side-temperature-icon:hover {
    text-shadow: 2px 5px rgba(0, 0, 0, 0.6);
}

.hourly-forecast-placeholder, .daily-forecast-placeholder, .pollution-forecast-placeholder {
    margin-right: auto;
}

.hourly-forecast-value, .daily-forecast-value, .pollution-forecast-value {
    margin-left: auto;
}

.daily-forecast-element {
    width: 26vh;
    height: 35vh;
}

.pollution-forecast-element {
    width: 26vh;
    height: 38vh;
}

@keyframes first-element-down-of-three {
    0%, 60%{
        transform: translateY(-500px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes second-element-down-of-three {
    0%, 30% {
        transform: translateY(-750px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes third-element-down-of-three {
    0% {
         transform: translateY(-1000px);
         opacity: 0;
     }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.previous-one-of-three {
    animation: first-element-down-of-three 1s ease;
}

.previous-two-of-three {
    animation: second-element-down-of-three 1s ease;
}

.previous-three-of-three {
    animation: third-element-down-of-three 1s ease;
}

@keyframes first-element-up-of-three {
    0% {
        transform: translateY(1000px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes second-element-up-of-three {
    0%, 30% {
        transform: translateY(750px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes third-element-up-of-three {
    0%, 60%{
        transform: translateY(500px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.next-one-of-three {
    animation: first-element-up-of-three 1s ease;
}

.next-two-of-three {
    animation: second-element-up-of-three 1s ease;
}

.next-three-of-three {
    animation: third-element-up-of-three 1s ease;
}

@keyframes first-element-down-of-two {
    0%, 40% {
        transform: translateY(-500px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes second-element-down-of-two {
    0% {
        transform: translateY(-1000px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.previous-one-of-two {
    animation: first-element-down-of-two 1s ease;
}

.previous-two-of-two {
    animation: second-element-down-of-two 1s ease;
}

@keyframes first-element-up-of-two {
    0% {
        transform: translateY(1000px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes second-element-up-of-two {
    0%, 40% {
        transform: translateY(500px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.next-one-of-two {
    animation: first-element-up-of-two 1s ease;
}

.next-two-of-two {
    animation: second-element-up-of-two 1s ease;
}